.services {
    position: relative;
    display: block;
    padding: 50px 0 100px 0;
    .headingOfSection{
        display: inline-block;
        position: relative;
        margin-bottom: 90px;
        .heading_overly{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -60%);
            span{
                font-size: 21px;
                font-weight: 600;
                color: $primaryColor;
            }
        }
    }
    .services__inner {
        position: relative;
        display: block;
        counter-reset: count;
        .services-shape-1 {
            position: absolute;
            top: 0;
            left: 225px;
             img {
                width: auto;
              }
          }
      }
       .services__single {
            position: relative;
            display: block;
            text-align: center;
            padding: 0 40px 0;
            margin-bottom: 22px;   
            &:hover .services__icon:before {
                transform: scaleX(1);
              }
              &:hover .services__count:before {
                background-color:black;
              }
              .services__icon-box {
                   position: relative;
                   display: block;
                   height: 150px;
                   width: 150px;
                   margin: 0 auto;
                 .services__icon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(223, 227, 231);
                    border-radius: 50%;
                    background-color: #BEE1E6;
                    height: 148px;
                    width: 148px;
                    margin: 0 auto;
                    z-index: 1;
                    span {
                        img{
                            width: 70px;
                        }
                      }
                  }
                      }
                      .services__count {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color:$primaryColor;
                        z-index: 2;
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            color:white;
                            font-size: 14px;
                            line-height: 40px;
                            font-weight: 700;
                            border-radius: 50%;
                            counter-increment: count;
                            content: counters(count, ".", decimal-leading-zero);
                            transition: all 200ms linear;
                            transition-delay: 0.1s;
                          }
                      }
                     .services__content{
                           h3{
                            font-size: 21px;
                            color: rgb(24, 23, 23);
                            font-weight: 500;
                            padding: 25px 0 5px 0;
                            text-transform: uppercase;
                           }
                           h4{
                            font-size: 14px;
                            color: $text;
                            font-weight: 400;
                            text-align: center;
                           }
                     }    
            
                     
      }
        

  }
  
  .services__icon:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-radius: 50%;
    background-color:#BEE1E6;
    transform: scale(0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    z-index: -1;
  }
  
  .single2 {
    margin-top: 100px;
  }
  
  .single3 {
    margin-top: 50px;
  }